.header-image{
    float: left;
}
.header-logo{
    vertical-align: middle;
    border: 0px;
}
.header-Form{
    border: 0px;
    margin: 0px;
    text-align: right;
    padding: 8px;
}
.header-row{
    overflow:auto;
}
.headform-text{
    background-color: white;
}
.nav-item {
    display: inline;
    padding: 16px;
    text-decoration: none;
    
  }
.navbar-nav{
    position: relative;
    margin-bottom: 0px;
    border: none;
    display: block;
    background-color: #dddddd;
}
.navbar-ul{
    display:flex;
    list-style-type: none;
    
}

.img2{
    border: 0px;
    margin: 0px;
    width: 100%;
    height:auto;
}
.middle-text{
   position: absolute;
   top: 50%;
  left: 10%;
  text-align: left;
}
.main-content{
    display:flex;
}
